body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.borda-principal {
    padding: 25px 25px;
    margin-top: 50px;
    border: 3px solid black;
    border-radius: 10px;
    width: 300px;
}

.titulo {
    text-align: center;
    font-family: monospace;
    margin-bottom: 50px;
}

.botao-padrao {
    margin-top: 25px;
    background-color: black;
    color: white;
}

.botao-alternativo {
    background-color: white;
    color: black;
}

.imagem-login {
    width: 35vw;
    padding-right: 50px;
}

button {
    cursor: pointer;
}

input, button, select {
    padding: 10px;
    margin-bottom: 10px;
    width: -webkit-fill-available;
}